
/*CSS comment*/
* { /*Universal Selector*/
  box-sizing: border-box; /*keeps all border and padding dimensions inside specified box dimensions*/
  /*default setting is 'content-box' */
}
html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #00539F;
  }

